#facebook ._1e4d._3_3l .katex-display{margin:0;overflow-x:auto;overflow-y:hidden;padding:1px 0}#facebook ._1e4d._1e4e._3_3l .katex{white-space:normal}

#bootloader_5u7wP{height:42px;}.bootloader_5u7wP{display:block!important;}