.MercuryThreadImage{width:50px;height:50px}.MercuryMediumThreadImage{width:32px;height:32px}.MercuryThreadImage .MercuryRedesign{box-shadow:inset 0 0 1px rgba(0, 0, 0, .1);height:48px;margin-right:12px;width:48px}

#bootloader_22_gn{height:42px;}.bootloader_22_gn{display:block!important;}