._2ogr{flex-direction:column;height:auto}._2ogr:first-child::before{content:none}._2ogs{padding:25px;text-align:center}._2ogt{color:#0084ff;font-size:13px}._2ogr ._2ogt:hover{text-decoration:underline}@media all and (max-width: 700px){._2ogr::before{content:none}}

#bootloader_lWMEy{height:42px;}.bootloader_lWMEy{display:block!important;}