._2c1u ._2c1v{height:50px;margin-top:10px;width:100%}._2c1u ._5j5f{max-height:50px}._2c1u ._5j5l{margin-left:5px;margin-top:10px}._2c1u ._-bo{padding-bottom:10px}._2c1u ._2c9g ._4ebz{margin-bottom:4px}

#bootloader_UVR0d{height:42px;}.bootloader_UVR0d{display:block!important;}