._5u15{background-color:rgba(0, 0, 0, .05);border-bottom:1px solid rgba(0, 0, 0, .10);color:#9197a3;font-size:13px;padding:12px}

#bootloader_rCfKj{height:42px;}.bootloader_rCfKj{display:block!important;}