._1wsd{border-bottom:1px solid rgba(0, 0, 0, .10);display:flex;font-size:14px;padding:9px 12px}._1wse{color:rgba(0, 0, 0, .40);padding-right:9px}._1wsg{color:#0084ff;overflow:hidden;text-overflow:ellipsis}

#bootloader_sZf15{height:42px;}.bootloader_sZf15{display:block!important;}