._2n1-{padding:10px}._2n1_{margin-bottom:8px}._2n1_:nth-child(2n){margin-left:8px}._2n20{text-align:center}._3xo7{display:inline-block;text-align:center;width:100%}

#bootloader__4vkq{height:42px;}.bootloader__4vkq{display:block!important;}